<div class="row row-padding">
    <p>Building a website for a multi-million dollar client, and with five minutes to spare, you realized you forgot to add <b>WORDS</b>? Standing in front of your soon-to-be bride, and it hits you that your vows are <b>CRAP</b>? Maybe you've been procrastinating for weeks on that <b>NOT SO WELL-THOUGHT OUT ENGLILSH PAPER</b>? Or maybe you just really want to sound more like your hero, <b>SENOR CARDGAGE</b>?</p>
    <p>Well, look no further. Brought to you by the people who did not make Duck Pond, the bespoke Homestar Ipsum Generator ensures none of these very real and totally plausible situations will ever catch you off guard again.</p>
    <p>Or our money back.</p>
</div>
<app-generator (paragraphEmitter)="retrieveParagraphs($event)"></app-generator>
<div class="row">
    <app-paragraphs [paragraphs]="paragraphs"></app-paragraphs>
</div>