@font-face {
    font-family: 'Bauhaus 93';
    src: url('src\assets\Bauhaus-93-Regular.ttf');
}

/* @font-face {
    font-family: 'Perfect Dos';
    src: url('src\assets\Perfect-DOS-VGA-437-Win.ttf');
} */

@font-face {
    font-family: 'Bangers';
    src: url('https://fonts.googleapis.com/css2?family=Bangers');
}

h1 {
    font-family: 'Bauhaus 93', 'Bangers', 'cursive';
}

/* h3, h5, p {
    font-family: 'Perfect Dos';
} */

